chainlit==1.1.402
chromadb==0.5.5
coverage==7.6.1
langchain-chroma==0.1.2
langchain-community==0.2.12
langchain-core==0.2.34
langchain-huggingface==0.0.3
langchain-openai==0.1.22
pandas==2.2.2
pytest==8.3.2
python-dotenv==1.0.1